<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="outer-c">
    <div class="form-container">
      <div class="logo-container">
        Login
      </div>

      <form class="form" method="post" action="/user/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter your email">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password">
        </div>

        <button class="form-submit-btn" type="submit">Login</button>
      </form>

      <p class="signup-link">
        Don't have an account?
        <a href="/views/signup.ejs" class="signup-link link"> Sign up now</a>
      </p>
    </div>
  </div>
   
</body>
</html>