<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="toolbar">
        <button onclick="formatText('bold')">Bold</button>
        <button onclick="formatText('italic')">italic</button>
        <button onclick="formatText('Underline')">Underline</button>
        <button onclick="saveContent()">Save</button>
        <button onclick="handleShowData()">Get data</button>
        <div class="checkbox-apple">
            <input class="yep" id="check-apple" type="checkbox" value="false">
            <label for="check-apple"></label>
        </div>
        <button onclick="showDiv()">Share</button>
    </div>
    
    <div class="container" style="display: none;">
        <!-- <label for="" class="label-access-type">Access Type:</label>
        <select id="action-select" class="select-action">
            <option value="view">View</option>
            <option value="edit">Edit</option>
        </select> -->
        <button class="btn-copy-link" id="copyUrlButton" value="">Copy Link</button>
        <div onclick="divClose()" class="div-close">X</div>
    </div>
    
    <div class="editor" contenteditable="true">Write your text here</div>
</body>
<script>
    const userId = "<%= userId %>";
  </script>
<script src="/js/script.js"></script>

</html>