<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="toolbar">
        <button onclick="formatText('bold')">Bold</button>
        <button onclick="formatText('italic')">italic</button>
        <button onclick="formatText('Underline')">Underline</button>
        <button onclick="saveContent()">Save</button>
        <button onclick="handleShowData()">Get data</button>
    </div>
    <div class="editor" contenteditable="true">Write your text here</div>
</body>
   <script src="/js/script.js"></script>
</html>